<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
    {{ title }}
	</h1>
 
</div>
<body style="text-align:center" ng-app>

    <nav class="{{active}}" (click)="$event.preventDefault()">

        <a href="#" class="home" (click)="active='home'">Home</a>
        <a href="#" class="search" (click)="active='search'">Search</a>
        <a href="#" class="login" (click)="active='login'">Login</a>
        <a href="#" class="signup" (click)="active='signup'">Signup</a>
    </nav>

    <p ng-hide="active">Please click a menu item</p>
    <p [hidden] >You chose <b>{{active}}</b></p>
	
</body>